/*HEADER SECTION:*/

.headerImg {
  background-attachment: fixed;
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13396/images/hero_full/IMGL2665.jpg?1490905055);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  max-height: calc(70vh - 85px);
  min-height: 320px;
}

/*IN PROGRESS, GRADIENT ON JUMBOTRON IMG:*/
.headerImg div {
  /*background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  opacity: 0.5;*/
  padding-bottom: 30px;
  padding-left: 10vw;
  /*padding-top: 400px;*/
  padding-top: 350px;
}

.headerImg h1,p {
  color: rgba(255,255,255,1) ;
  font-size: 20px;
}

.logo {
  background: url(https://www.worldwildlife.org/assets/structure/unique/logo-c562409bb6158bf64e5f8b1be066dbd5983d75f5ce7c9935a5afffbcc03f8e5d.png) no-repeat;
  background-position: right;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  display: block;
  height: 120px;
  margin-left: 8.4vw;
  position:absolute;
  width: 100px;
  z-index: 500;
}

.navbar {
  background: #000 url(https://www.worldwildlife.org/assets/structure/unique/bg-header-pattern-2d1f5ee4abb035203b0bd1cb7326ea039863ae7c3190ee41e43f4d8d9fcbf953.png) 50% 0;
  display: flex;
  font-family: Open Sans;
  font-weight: bold;
  height: 75px;
  justify-content: flex-end;
}

.navbar li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 32px;
}

.navbarList {
  color: white;
  padding-left: 150px;
  padding-right: 50vw;
}

.nbFirstItems {
  padding-top: 35px;
  right: 500px;
}

.nbList2 {
  color: #989b97;
  font-size: 13px;
  margin-right: 80px;
  padding: 0;
  padding-top: 20px;
  position: absolute;
  right: 2vw;
}

button {
  background-color: #d55c19;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  margin-right: 5px;
  padding: 10px;
}

input {
  border-radius: 2px;
  padding: 5px;
}





/*BODY SECTION:*/
.homepage {
  background-color: white;
  height:1000px;
}

.wrapper {
  /*background-color: red;*/
  height: 400px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 9vw;
  padding-right: 9vw;
}

.cards li {
  display: inline-block;
}

.card-image1 {
  /*background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13091/images/card_2_large/African_Crane_2.png?1485894315);*/
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13197/images/card_2_large/shutterstock_400192165.jpg?1487698315);
  background-position: center;
  border-radius: 10px;
  background-size: cover;
  height: 420px;
  width: 520px;
}

.hdr {
  font: bold 15px/1.33333333 OpenSansRegular, Helvetica, Arial, sans-serif;
  display: block;
  /*position: absolute;*/
  letter-spacing: 1.5px;
}

.card-image1:hover {
  background-position: center;
  background-size: 110%;
  height: 420px;
  /*transition: all 200ms ease-in-out;*/
  transition-timing-function: ease-out;
  width: 520px;
}

.card-image2 {
  background-color: #53284f;
  border-radius: 10px;
  height: 420px;
  margin-left: 30px;
  /*position: absolute;*/
  width: 280px;
}

.card-content2 {
  color: pink;
  /*position: absolute;*/
}

.card-image3 {
  background-color: black;
  border-radius: 10px;
  height: 420px;
  margin-left: 30px;
  width: 280px;
}

/*"features and news" title section */
.title {
  display: block;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 80px;
  margin-top: 80px;
  text-align: center;
}

.title:before, .title:after {
  background: rgba(80,55,55,0.15);
  content: "";
  display: block;
  height:6px;
  margin: 0 auto;
  width:80px;
}

.cards {
  align-items: flex-start;
  display: flex;
}




















/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
