/*HEADER SECTION:*/

.headerImg {
  background: center;
  /*background-attachment: fixed;*/
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13396/images/hero_full/IMGL2665.jpg?1490905055);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  max-height: calc(70vh - 85px);
  min-height: 320px;
  padding-bottom: 50px;
}

/*IN PROGRESS, GRADIENT ON JUMBOTRON IMG:*/
.headerImg div {
  /*background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  opacity: 0.5;*/
  padding-bottom: 30px;
  padding-left: 10vw;
  padding-top: 350px;
}

.headerImg h1,p {
  color: rgba(255,255,255,1) ;
  font-size: 20px;
}

.logo {
  background: url(https://www.worldwildlife.org/assets/structure/unique/logo-c562409bb6158bf64e5f8b1be066dbd5983d75f5ce7c9935a5afffbcc03f8e5d.png) no-repeat;
  background-position: right;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
  display: block;
  height: 120px;
  margin-left: 8.4vw;
  position:absolute;
  width: 100px;
  z-index: 500;
}

.navbar {
  background: #000 url(https://www.worldwildlife.org/assets/structure/unique/bg-header-pattern-2d1f5ee4abb035203b0bd1cb7326ea039863ae7c3190ee41e43f4d8d9fcbf953.png) 50% 0;
  display: flex;
  font-family: Open Sans;
  font-weight: bold;
  height: 75px;
  justify-content: flex-end;
}

.navbar li {
  display: inline;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 32px;
}

.navbarList {
  color: white;
  padding-left: 150px;
  padding-right: 50vw;
}

.nbFirstItems {
  padding-top: 35px;
  right: 500px;
}

.nbList2 {
  color: #989b97;
  font-size: 13px;
  margin-right: 80px;
  padding: 0;
  padding-top: 20px;
  position: absolute;
  right: 2vw;
}

button {
  background-color: #d55c19;
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  margin-right: 5px;
  padding: 10px;
}

input {
  border-radius: 2px;
  padding: 5px;
}

.congressButton {
  padding: 10px 40px 10px 40px;
  margin-top: 10px;
}




/*BODY SECTION:*/
.homepage {
  background-color: white;
  height:1000px;
}

.wrapper {
  height: 400px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 9vw;
  padding-right: 9vw;
}


.cards {
  align-items: flex-start;
  display: flex;
  margin-top: 10px;
}

.cards li {
  display: inline-block;
}

.hdr {
  color: white;
  display: block;
  font: bold 15px/1.33333333 OpenSansRegular, Helvetica, Arial, sans-serif;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-family: WWFRegular, Helvetica, Arial, sans-serif;
  line-height: 1;

}

/*ROW 1 CARDS*/
.card-image1 {
  /*background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13091/images/card_2_large/African_Crane_2.png?1485894315);*/
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13197/images/card_2_large/shutterstock_400192165.jpg?1487698315);
  background-position: center;
  border-radius: 10px;
  background-size: cover;
  height: 460px;
  width: 580px;
}

.card-image1 a {
  text-decoration: none;
}

.card-image1:hover {
  background-position: center;
  background-size: 110%;
  height: 460px;
  /*transition: all 200ms ease-in-out;*/
  transition-timing-function: ease-out;
  width: 580px;
}

.card-content1 {
  padding-top: 30px;
  padding-left: 30px;

}

.card-image2 {
  background-color: #53284f;
  border-radius: 10px;
  height: 460px;
  margin-left: 10px;
  width: 280px;
}

.card-content2 {
  color: white;
  padding-top: 30px;
  padding-left: 30px;
}

.card-image3 {
  background-image: url('https://c402277.ssl.cf1.rackcdn.com/photos/12917/images/portrait_small/MID_54156.jpg?1482158655');
  border-radius: 10px;
  height: 460px;
  margin-left: 10px;
  width: 280px;
}

.card-content3 {
  background-color: black;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  height: 140px;
  margin-top: 35vh;
  padding-top: 30px;
  padding-left: 30px;
}
.card3hdr {
  font-size: 20px;
}
/*"features and news" title section */
.title {
  display: block;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 50px;
  margin-top: 110px;
  text-align: center;
}

.title:before, .title:after {
  background: rgba(80,55,55,0.15);
  content: "";
  display: block;
  height:6px;
  margin: 0 auto;
  width:80px;
}


/*ROW 2 cards*/
.card-image1a {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13381/images/card_2_large/329626.jpg?1490888590);
  border-radius: 10px;
  height: 460px;
  width: 580px;
}

.card-image1a:hover {
  background-position: center;
  background-size: 110%;
  height: 460px;
  transition-timing-function: ease-out;
  width: 580px;
}

.card-image2a {
  background: url(https://www.worldwildlife.org/assets/structure/unique/bg-patterned-e2dd5fbf93d51984d5fcff9b9c1e9006810dbbdf4ba42186bf705b016ee280bd.png) repeat 50% 50%;
  border-radius: 10px;
  height: 460px;
  margin-left: 10px;
  width:280px;
}

.card-image3a {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13354/images/card_1_large/MID_349517.jpg?1490194379);
  border-radius: 10px;
  height: 460px;
  margin-left: 10px;
  width:280px;
}

.card-image4a {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13029/images/card_1_large/farabee_wetland_spring2017.jpg?1485359469);
  border-radius: 10px;
  height: 460px;
  width:290px;
}

.card-image5a {
  background-color: black;
  border-radius: 10px;
  height: 460px;
  margin-left: 10px;
  width:280px;
}

.card-image6a {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13357/images/card_2_large/BDP_4108.JPG?1490210154);
  border-radius: 10px;
  height: 460px;
  width: 580px;
}

/*MISSION ROW SECTION*/
.missionRow {
  background: #f6f5f2;
  display: block;
  height: 425px;
  margin-left: 0;
  margin-top:590px;
  /*width: 100vw;*/
}

.missionRow .title {
  padding-top: 40px;
}

.missionpics {
  float: left;
  text-align: center;
}

#missionpic {
  /*background-image: url(https://www.worldwildlife.org/assets/content/goal-pillar-food-b1a57617056325546767a1a96ba6d3dcf2db6d7744f8fc54fe2a8a18c5dcdc73.jpg);*/
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 40px;
  /*float: left;*/
  height: 80px;
  width: 80px;
}

.hilight {
  color: black;
  font-size: 25px;
  text-align: center;
}

.lowlight {
  color: black;
  font-size: 16px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

/*ROW THREE CARDS*/
.card-image1b {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13308/images/card_2_large/IMGL2810.jpg?1489600957);
  border-radius: 10px;
  height: 460px;
  width: 580px;
}

.card-image2b {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13329/images/card_2_large/112727.jpg?1489697704);
  border-radius: 10px;
  height: 460px;
  margin-left: 10px;
  width: 580px;
}


.wwfmag {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/13078/images/card_4_large/IMG_0168_%2820%29_2.jpg?1485884410);
  border-radius: 10px;
  height: 460px;
  width: 100%;
}

.accntRow {
  background-image: url('https://c402277.ssl.cf1.rackcdn.com/photos/8985/images/magazine_medium/HI_23516.jpg?1432757253');
  display: block;
  background-size: cover;
  height: 725px;
  margin-left: 0;
  margin-top:40px;
  width: 100vw;
}

.accntRow .title {
  padding-top: 45px;
}

.accnt {
  padding-top: 40px;
  text-align: center;
}

.accntbtn {
  background-color: black;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
  display: inline-block;
  text-align: center;
}


/*NEXT ROW SECTION*/
.card-image1c {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/10934/images/card_2_large/Panda_Nation_Shoe.jpg?1455117227);
  border-radius: 10px;
  height: 460px;
  width: 580px;
}

.card-image2c {
  background-image: url(https://c402277.ssl.cf1.rackcdn.com/photos/9077/images/card_2_large/Sumatran_Orangutan_8.6.2012_Why_They_Matter_XL_257639.jpg?1433175280);
  border-radius: 10px;
  height: 460px;
  margin-left: 10px;
  width: 580px;
}


/*FOOTER SECTION*/
.footerbar {
  background: #000;
  color: #ccc;
  height: 50px;
  margin-bottom: 300px;
  margin-top: 120px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 1.53061225%;
  padding-top: 1.53061225%;
  width: 100vw;
}

.emailbtn {
  background: orange;
  color: white;
  display: inline-block;
}















/*CSS RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
